<% content_for :head do %>
<link rel="stylesheet" type="text/css" href="/assets/css/master_b-master.css?126029968"/>
<link rel="stylesheet" type="text/css" href="/assets/css/privacy.css?4023456370" id="pagesheet"/>
<% end %>

<div class="clearfix" id="page"><!-- column -->
 <div class="position_content" id="page_position_content">
  <div class="clearfix colelem" id="u1816"><!-- group -->
   <div class="clearfix grpelem" id="u1820"><!-- group -->
    <div class="shadow gradient grpelem" id="u1821"><!-- simple frame --></div>
  </div>
  <div class="grpelem" id="u1822"><!-- image -->
    <img class="block" id="u1822_img" src="images/search.png" alt="" width="580" height="100"/>
  </div>
  <a class="nonblock nontext grpelem" id="u1826" href="product-search.html"><!-- image --><img class="block" id="u1826_img" src="images/submit-button-small.png" alt="" width="187" height="60"/></a>
  <div class="grpelem" id="u1824"><!-- custom html -->
    <br>
    <div id="search-container" class="container">
      <h2 class="pull-left"></h2>
      <input class="search_bar xxlarge pull-left" id="search" name="search" " size="16" row="2" font size="40px" onkeyup="checkSearchVal()" placeholder="Text" type="text" />
    </div>


  </div>
  <div class="grpelem" id="u1817"><!-- image -->
    <img class="block" id="u1817_img" src="images/goorgo-logo.png" alt="" width="193" height="77"/>
  </div>
  <div class="clearfix grpelem" id="u1819-4"><!-- content -->
    <p>goorgo.com</p>
  </div>
</div>
<div class="clearfix colelem" id="u1007-10"><!-- content -->
 <p id="u1007-2">Privacy</p>
 <p id="u1007-4">Goorgo.com Privacy</p>
 <p id="u1007-6">We are sworn to the privacy of each and every member of our website. We realize how important it is for all the customers to keep their details safe and secure and yes, you are in safe hands. We use the details very carefully and sensibly share your details that are safe if shared. While you are logged on to our website, we acquire some essential information about you and store them, however the customers do get to opt out from providing some of the information. But to avail all the advantages it is better to provide all your necessary details and trust us. Interaction and information storage While each and every member of our community interacts, we acquire some basic information with the help of cookies. On the other hand when you download some of our applications, we tend to acquire information about your whereabouts, the device you are suing and so on. This information can be helpful to us if you are willing to avail some services based on locations like advertisements, personalized searches etc. But there are options to terminate those services as well. Cookies The cookies we use help us top identify your device and offer to the customers some personalized features. The users can however choose to not to allow the cookies and in turn decline some of the special features of the site. Sharing of information Even though the information we gather about our customers is very important for our business we never sell the information to other retailers. Joint offerings and ventures however may use your initial and not so important details.</p>
 <p id="u1007-7">&nbsp;</p>
 <p>&nbsp;</p>
</div>
<div class="verticalspacer"></div>
<div class="clearfix colelem" id="u1876"><!-- group -->
 <div class="clearfix grpelem" id="pu1389"><!-- column -->
  <a class="nonblock nontext colelem" id="u1389" href="index.html"><!-- image --><img class="block" id="u1389_img" src="images/goorgo-logo.png" alt="" width="233" height="93"/></a>
  <div class="clearfix colelem" id="u1394-7"><!-- content -->
   <p>©&nbsp; 2013 <a class="nonblock" href="index.html">www.GoorGo.com</a>&nbsp;All Rights Reserved</p>
 </div>
</div>
<div class="clearfix grpelem" id="pu1391-4"><!-- column -->
  <div class="clearfix colelem" id="u1391-4"><!-- content -->
   <p id="u1391-2">Help</p>
 </div>
 <div class="clearfix colelem" id="u1393-14"><!-- content -->
   <p id="u1393-3"><%= link_to "HOME", root_path, class: "nonblock" %></p>
   <p id="u1393-6"><%= link_to "About us", about_us_path, class: "nonblock" %></p>
   <p id="u1393-9"><%= link_to "Privacy", privacy_path, class: "nonblock" %></p>
   <p id="u1393-12"><%= link_to "Terms of Use", term_of_use_path, class: "nonblock" %></p>
 </div>
</div>
<div class="clearfix grpelem" id="pu1420-4"><!-- column -->
  <div class="clearfix colelem" id="u1420-4"><!-- content -->
   <p id="u1420-2">Catalogue</p>
 </div>
 <div class="clearfix colelem" id="u1392-4"><!-- content -->
   <p id="u1392-2">Books | Cameras &amp; Camcorders | Mobiles &amp; Accessories | Apparel &amp; Accessories | Jewellery &amp; Watches | Electronics | Home &amp; Kitchen | Toys &amp; Games | Gifts &amp; Flowers | Computer &amp; Peripherals | Kids &amp; Baby | Health &amp; Beauty | Household Appliances | Footwear | Clothing | Accessories | Watches | Office &amp; Stationary | All Brands</p>
 </div>
</div>
</div>
</div>
</div>