/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require css/site_global.css
 */
input#search{
	width:93%;
	float:left;
	height:33px;
	background-color: #FCFCFC;
	color: #BCBCBC;

}
input#search:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}
.img-btn-submit {
    width:30px;
}
input#search {
border: 2px solid #2b2e31 !important;
}

p#u346-2 a, p#u346-2 a:hover, p#u346-2 a:visited{
	color: #F7931E;
	text-decoration: none;
}