#u1876
{
	border-color: #000000;
	background-color: #181818;
	position: relative;
}

#u1389
{
	position: relative;
}

#u1394-7
{
	color: #8A8A8A;
	text-align: center;
	position: relative;
}

#u1391-2
{
	padding-left: 5px;
}

#u1393-14
{
	background-color: transparent;
	font-size: 12px;
	color: #F7931E;
	position: relative;
}

#u1393-3
{
	padding-left: 5px;
	padding-top: 5px;
}

#u1393-6
{
	padding-left: 5px;
	padding-top: 5px;
}

#u1393-9
{
	padding-left: 5px;
	padding-top: 5px;
}

#u1393-12
{
	padding-left: 5px;
	padding-top: 5px;
}

#u1391-4,#u1420-4
{
	font-size: 12px;
	color: #FFFFFF;
	position: relative;
}

#u1420-2
{
	padding-left: 5px;
}

#u1392-4
{
	font-size: 12px;
	color: #F7931E;
	position: relative;
}

#u1392-2
{
	padding-left: 5px;
	padding-top: 5px;
}

#u1393-14:hover p,#u1393-14:hover a,#u1393-14:hover p,#u1393-14:hover a,#u1393-14:hover p,#u1393-14:hover a,#u1393-14:hover p,#u1393-14:hover a
{
	color: #F15A24;
	visibility: inherit;
}

